SDKROOT = macosx10.5
MACOSX_DEPLOYMENT_TARGET = 10.5

INSTALL_PATH = @executable_path/../Plug-ins
OTHER_LDFLAGS = -undefined dynamic_lookup
SECTORDER_FLAGS = 
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = ViewTemplate
WRAPPER_EXTENSION = osirixplugin
FRAMEWORK_SEARCH_PATHS = 
HEADER_SEARCH_PATHS = 
LIBRARY_SEARCH_PATHS = 
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_TRIGRAPHS = NO
OTHER_CFLAGS = 
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ViewTemplate_Prefix.pch
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
GCC_WARN_UNKNOWN_PRAGMAS = NO
LIBRARY_STYLE = Bundle
OTHER_REZFLAGS = 
ZERO_LINK = NO