<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>systemName</key>
	<string>10/10</string>
	<key>electrodesToPlace</key>
	<array>
		<string>Fpz</string>
		<string>Fp1</string>
		<string>Fp2</string>
		<string>Fz</string>
		<string>F1</string>
		<string>F2</string>
		<string>F3</string>
		<string>F4</string>
		<string>F5</string>
		<string>F6</string>
		<string>F7</string>
		<string>F8</string>
		<string>Cz</string>
		<string>C1</string>
		<string>C2</string>
		<string>C3</string>
		<string>C4</string>
		<string>C5</string>
		<string>C6</string>
		<string>Pz</string>
		<string>P1</string>
		<string>P2</string>
		<string>P3</string>
		<string>P4</string>
		<string>P5</string>
		<string>P6</string>
		<string>P7</string>
		<string>P8</string>
		<string>T7</string>
		<string>T8</string>
		<string>Oz</string>
		<string>O1</string>
		<string>O2</string>
		<string>AFz</string>
		<string>AF3</string>
		<string>AF4</string>
		<string>AF7</string>
		<string>AF8</string>
		<string>FCz</string>
		<string>FC1</string>
		<string>FC2</string>
		<string>FC3</string>
		<string>FC4</string>
		<string>FC5</string>
		<string>FC6</string>
		<string>CPz</string>
		<string>CP1</string>
		<string>CP2</string>
		<string>CP3</string>
		<string>CP4</string>
		<string>CP5</string>
		<string>CP6</string>
		<string>FT7</string>
		<string>FT8</string>
		<string>TP7</string>
		<string>TP8</string>
		<string>POz</string>
		<string>PO3</string>
		<string>PO4</string>
		<string>PO7</string>
		<string>PO8</string>
	</array>
	<key>instructionSteps</key>
	<array>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>Fpz</key>
				<real>0.1</real>
				<key>AFz</key>
				<real>0.2</real>
				<key>Fz</key>
				<real>0.3</real>
				<key>FCz</key>
				<real>0.4</real>
				<key>Cz</key>
				<real>0.5</real>
				<key>CPz</key>
				<real>0.6</real>
				<key>Pz</key>
				<real>0.7</real>
				<key>POz</key>
				<real>0.8</real>
				<key>Oz</key>
				<real>0.9</real>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>brow</string>
				<key>point2</key>
				<string>inion</string>
				<key>vertex</key>
				<string>apex</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>T9</key>
				<integer>0</integer>
				<key>T7</key>
				<real>0.1</real>
				<key>C5</key>
				<real>0.2</real>
				<key>C3</key>
				<real>0.3</real>
				<key>C1</key>
				<real>0.4</real>
				<key>Cz</key>
				<real>0.5</real>
				<key>C2</key>
				<real>0.6</real>
				<key>C4</key>
				<real>0.7</real>
				<key>C6</key>
				<real>0.8</real>
				<key>T8</key>
				<real>0.9</real>
				<key>T10</key>
				<real>1</real>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>A1</string>
				<key>point2</key>
				<string>A2</string>
				<key>vertex</key>
				<string>apex</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>Fp1</key>
				<real>0.1</real>
				<key>AF7</key>
				<real>0.2</real>
				<key>F7</key>
				<real>0.3</real>
				<key>FT7</key>
				<real>0.4</real>
				<key>T7</key>
				<real>0.5</real>
				<key>TP7</key>
				<real>0.6</real>
				<key>P7</key>
				<real>0.7</real>
				<key>PO7</key>
				<real>0.8</real>
				<key>O1</key>
				<real>0.9</real>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>Fpz</string>
				<key>point2</key>
				<string>Oz</string>
				<key>vertex</key>
				<string>T7</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>Fp2</key>
				<real>0.1</real>
				<key>AF8</key>
				<real>0.2</real>
				<key>F8</key>
				<real>0.3</real>
				<key>FT8</key>
				<real>0.4</real>
				<key>T8</key>
				<real>0.5</real>
				<key>TP8</key>
				<real>0.6</real>
				<key>P8</key>
				<real>0.7</real>
				<key>PO8</key>
				<real>0.8</real>
				<key>O2</key>
				<real>0.9</real>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>Fpz</string>
				<key>point2</key>
				<string>Oz</string>
				<key>vertex</key>
				<string>T8</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>AF7</key>
				<integer>0</integer>
				<key>AF3</key>
				<real>0.25</real>
				<key>AFz</key>
				<real>0.5</real>
				<key>AF4</key>
				<real>0.75</real>
				<key>AF8</key>
				<real>1</real>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>AF7</string>
				<key>point2</key>
				<string>AF8</string>
				<key>vertex</key>
				<string>AFz</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>F7</key>
				<integer>0</integer>
				<key>F5</key>
				<real>0.125</real>
				<key>F3</key>
				<real>0.25</real>
				<key>F1</key>
				<real>0.375</real>
				<key>Fz</key>
				<real>0.5</real>
				<key>F2</key>
				<real>0.625</real>
				<key>F4</key>
				<real>0.75</real>
				<key>F6</key>
				<real>0.875</real>
				<key>F8</key>
				<integer>1</integer>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>F7</string>
				<key>point2</key>
				<string>F8</string>
				<key>vertex</key>
				<string>Fz</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>FT7</key>
				<integer>0</integer>
				<key>FC5</key>
				<real>0.125</real>
				<key>FC3</key>
				<real>0.25</real>
				<key>FC1</key>
				<real>0.375</real>
				<key>FCZ</key>
				<real>0.5</real>
				<key>FC2</key>
				<real>0.625</real>
				<key>FC4</key>
				<real>0.75</real>
				<key>FC6</key>
				<real>0.875</real>
				<key>FT8</key>
				<integer>1</integer>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>FT7</string>
				<key>point2</key>
				<string>FT8</string>
				<key>vertex</key>
				<string>FCz</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>TP7</key>
				<integer>0</integer>
				<key>CP5</key>
				<real>0.125</real>
				<key>CP3</key>
				<real>0.25</real>
				<key>CP1</key>
				<real>0.375</real>
				<key>CPZ</key>
				<real>0.5</real>
				<key>CP2</key>
				<real>0.625</real>
				<key>CP4</key>
				<real>0.75</real>
				<key>CP6</key>
				<real>0.875</real>
				<key>TP8</key>
				<integer>1</integer>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>TP7</string>
				<key>point2</key>
				<string>TP8</string>
				<key>vertex</key>
				<string>CPz</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>P7</key>
				<integer>0</integer>
				<key>P5</key>
				<real>0.125</real>
				<key>P3</key>
				<real>0.25</real>
				<key>P1</key>
				<real>0.375</real>
				<key>Pz</key>
				<real>0.5</real>
				<key>P2</key>
				<real>0.625</real>
				<key>P4</key>
				<real>0.75</real>
				<key>P6</key>
				<real>0.875</real>
				<key>P8</key>
				<integer>1</integer>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>P7</string>
				<key>point2</key>
				<string>P8</string>
				<key>vertex</key>
				<string>Pz</string>
			</dict>
		</dict>
		<dict>
			<key>divideInstructions</key>
			<dict>
				<key>PO7</key>
				<string>0</string>
				<key>PO3</key>
				<real>0.25</real>
				<key>POz</key>
				<real>0.5</real>
				<key>PO4</key>
				<real>0.75</real>
				<key>PO8</key>
				<string>1</string>
			</dict>
			<key>sliceInstructions</key>
			<dict>
				<key>point1</key>
				<string>PO7</string>
				<key>point2</key>
				<string>PO8</string>
				<key>vertex</key>
				<string>POz</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
