SDKROOT = macosx10.5
MACOSX_DEPLOYMENT_TARGET = 10.5
GCC_PREFIX_HEADER = StereotaxPoint_Prefix.pch
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_TRIGRAPHS = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO
GCC_WARN_UNKNOWN_PRAGMAS = NO
WARNING_CFLAGS = -Wmost -Wno-four-char-constants -Wno-unknown-pragmas
OTHER_LDFLAGS = -undefined dynamic_lookup
ZERO_LINK = NO
